@model Parent
<div class="carteEquipeBackground ">
    <a href="/enfant/recherche">

        <a asp-controller="home" asp-action="update" asp-route-id="@Model.ParentId"> <i class="fa fa-pencil fa-xl  iconcrayon" aria-hidden="true"></i></a>
        <a asp-controller="home" asp-action="delete" asp-route-id="@Model.ParentId"><img class="img-fluid iconpoubelle" style="height:30px; width:50px;" src="/images/trash-removebg-preview.png"></a>
        <div class="imagesequipes"><img class="img-fluid carteequipeespaceentreimageettexte mt-5 " src="@Model.ImageURL" alt="logo pittsburgh"></div>
        <h3 class="fontgras">@Model.Nom</h3>
        <h4 class="verticalspacingcarteequipe fontmedium">@Html.Raw(Model.Description)</h4>
        <h5 class="fontmedium">
            Nombre de joueurs : @((Model.Enfants.Count() == 0) ? "0" : (Model.Enfants.Count()))</h5>

            @if (Model.Enfants == null)
            {
                <h5 class="fontmedium">Salaire moyen : <i class="fa fa-usd" aria-hidden="true"></i>0M/Année</h5>
            }
            else
            {
                @if (Model.Enfants.Any())
                {
                    <h5 class="fontmedium">
                        Salaire moyen :
                        <i class="fa fa-usd" aria-hidden="true"></i>@(Model.Enfants.Average(x => x.Salaire).ToString("0.00"))M/Année
                    </h5>
                }
                else
                {
                    <h5 class="fontmedium">
                        Salaire moyen : <i class="fa fa-usd" aria-hidden="true"></i>0M/Année
                    </h5>
                }
            }
    </a>
</div>


